<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Covid-19 Tracker</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navlist">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navlist">
            <ul class="navbar-nav ml-auto">
                  <li class="nav-item nav-center">
                        <a routerLink="/world" class="nav-link">World</a>
                  </li>
                  <li class="nav-item nav-center">
                        <a routerLink="/countries" class="nav-link">Countries</a>
                  </li>
            </ul>
      </div>
</nav>
<div class="container">